<h1>Home#index</h1>

<% if user_signed_in? %>
<p>Hello <%=current_user.email%></p>
<p> Your Kindle Email: <%=current_user.kindle_email%> </p>
<p> Make sure you add pushingtokindle@gmail.com to your kindle's approved email list before you send articles over! </p>
<p> Click this button to have us scan your inbox for articles to send to your kindle: </p>
<!--insert button to click on to trigger controller action -->
<%= button_to "Scan", emails_scan_path, :method => :post %>


<% else %>
<p> HELLOOOO </p>
<%end%>


<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
<%=link_to "Sign Up", new_user_registration_path%>
<%=link_to "Sign In", new_user_session_path%>



